<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CTRL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <CTRL.Properties.Settings>
            <setting name="initial_hours" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="initial_minutes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="goal_hours" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="goal_minutes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="goal_days" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="initialized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="current_hours" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="current_minutes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="daily_subtraction_minutes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="current_date" serializeAs="String">
                <value />
            </setting>
            <setting name="current_seconds" serializeAs="String">
                <value>0</value>
            </setting>
        </CTRL.Properties.Settings>
    </userSettings>
</configuration>